<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
          http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
          http://www.springframework.org/schema/security
          http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http pattern="/resources/**" security="none" />
	<http pattern="/login/**" security="none" />
	<http pattern="/logout/**" security="none" />
	<http pattern="/error" security="none" />
	<http auto-config="true" entry-point-ref="bancarGUIAuthenticationEntryPoint" authentication-manager-ref="authenticationManager"	use-expressions="true">

		<intercept-url pattern="/**" access="hasAnyRole('SUPERVISORE, SUPERVISORE_CENTRO, OPERATORE_CONFIGURAZIONE, OPERATORE_ACCETTAZIONE, OPERATORE_NORMALIZZAZIONE, OPERATORE_GESTORE_SCATOLE, OPERATORE_GENERICO')" requires-channel="any" />
			<form-login login-page="/login" authentication-failure-url="/error" username-parameter="username" password-parameter="password" />
			<logout success-handler-ref="customLogoutSuccessHandler" delete-cookies="JSESSIONID" invalidate-session="true" />
	</http>


	<authentication-manager
		alias="authenticationManager">
		<authentication-provider ref="userAuthenticationProvider" />
		<authentication-provider>
		  <user-service>
			<user name="admin" password="admin" authorities="SUPERVISORE" />
		  </user-service>
		</authentication-provider>
	</authentication-manager>
	


	<beans:bean id="devRestConstants"
		class="it.citel.postel.bancarizzazioneGUI.util.DevRestConstants" />
</beans:beans>	
		
		
