<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

	<bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
		<property name="host" value="${spring.mail.host}" />
		<property name="port" value="${spring.mail.port}" />
		<property name="username" value="${spring.mail.username}" />
		<property name="password" value="${spring.mail.password}" />
		<property name="javaMailProperties">
			<props>
				<prop key="mail.transport.protocol">${spring.mail.transport.protocol}</prop>
				<prop key="mail.smtp.auth">${spring.mail.smtp.auth}</prop>
				<prop key="mail.smtp.starttls.enable">${spring.mail.smtp.starttls.enable}</prop>
				<!-- <prop key="mail.smtp.ssl.trust">${spring.mail.smtp.ssl.trust}</prop> -->
			</props>
		</property>
	</bean>
	
	<bean id="templateMailMessage" class="org.springframework.mail.SimpleMailMessage"> 
		<property name="from" value="${spring.mail.from}" />
		<property name="subject" value="${spring.mail.subject}" />
		<property name="text">
		   <value><![CDATA[Gentile %s,

Lei ha richiesto il reset della password.
La invitiamo ad utilizzare la password temporanea per accedere ai servizi.
Le ricordiamo che la password temporanea dovrà essere cambiata al primo accesso.

Password temporanea: %s

Dopo aver cambiato la sua password potrà effettuare il login al nostro sito.

Le auguriamo buon lavoro.

Per ulteriori informazioni la preghiamo di contattare la nostra assistenza, attiva dalle 08:30 alle 19:00 al numero "".

Cordiali saluti,
il team di Postel S.p.A.

Messaggio di posta generato automaticamente.
Questo messaggio può contenere informazioni confidenziali. Il ricevente, se diverso dal destinatario, è avvertito che qualunque utilizzo,
divulgazione o copia di questa comunicazione comporta violazione delle disposizioni di legge sulla tutela dei dati personali ed è pertanto rigorosamente vietata. Qualora il presente messaggio sia stato ricevuto per errore, la preghiamo di informarci immediatamente.
]]>
		   </value>
        </property>
	</bean>
	
	<bean id="mail" class="it.postel.spring.mail.Mail">
		<property name="mailSender" ref="mailSender" />
		<property name="templateMailMessage" ref="templateMailMessage" />
	</bean>

</beans>
